<footer>
    <div class="container">
        <div class="row footer-contact">
            <div class="col-md-12">
                <h5>Dr. Andrew L. Liu</h5>
                <p>Associate Professor, School of Industrial Engineering</p>
                <p>315 N. Grant Street, Purdue University<br>West Lafayette, IN 47907-2023</p>
                <p>E-mail: andrewliu AT purdue.edu | Office: 765-494-4763</p>
            </div>
        </div>
        <p>&copy; 2024 Integrated Intelligent Electric Power Grid Lab (Intel2Grid) - Purdue University</p>
    </div>
</footer>