<nav class="navbar navbar-expand-lg sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">INTEL2GRID LAB</a>
    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="newsDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            News & Events
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark rounded-0 border-0 m-0"
            aria-labelledby="newsDropdown"
            style="background-color: var(--purdue-black)"
          >
            <li>
              <a class="dropdown-item text-light hover-gold" href="news.html"
                >News Archive</a
              >
            </li>
            <li>
              <a class="dropdown-item text-light hover-gold" href="events.html"
                >Upcoming Events</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="research.html">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="people.html">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="publications.html">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .hover-gold:hover {
    background-color: transparent;
    color: var(--purdue-gold) !important;
  }
</style>
